@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  }
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

body {
  font-family: Roboto;
  font-size: 1.063rem;;
}

.article__item a {
  display: inline-block;
}

.content-wrapper {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}

.article {
  margin: 3.375rem 0;
}

.article__item {
  position: relative;
  display: flex;
}

.article p,
.article h3 {
  width: 68.55%;
  margin: 0 0 1.25rem 0;
}

.card__text {
  width: 68.55%;
  margin: 0 0 1.25rem 0;
}

.article__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.article__text {
  line-height: 1.625rem;
  font-weight: normal;

}

.article-list-title {
  font-weight: bold;
  margin: 0.75rem 0;
}

.article-list {
  padding-left: 2rem;
}

.article-list__item {
  line-height: 1.625rem;
  margin: 0.75rem 0;
}

.small-card {
  z-index: 1;
  position: absolute;
  inset: 0 0 auto auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 30%;
  max-width: 16.5rem;
  margin-bottom: 1rem;
}
.small-card-with-img {
  padding-top: 0.625rem;
}
.small-card__link-wrapper {
  max-width: 80%;
}
.small-card__link {
  font-size: 0.813rem;
  line-height: 1.25rem;
}


.card {
  margin: 3rem 0;
}
.card p {
  font-size: 15px;
  line-height: 24px;
}
.card__image {
  width: 100%;
  height: auto;
}

.card-posts {
  overflow: hidden;
  border: 1px solid #00000026;
  width: 68.55%;
  margin: 48px 0;
}
.card-posts__link{
  line-height: 26px;
}
.card-posts__inner {
  margin: 28px 32px;
}
.card-posts__title-wrapper {
  display: flex;
  gap: 1rem;
}
.card-posts_title {
  display: inline-block;
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 16px 0;
}
.card-posts__image-wrapper{
  position: relative;
}
.title-arrow {
  position: absolute;
  transform: translateY(4px);
}
.card-posts__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #00000026;
  padding: 6px 0 16px 0;
}
.card-posts__image-wrapper {
  display: flex;
  align-items: end;
}
.card-posts__item:last-child {
  padding: 6px 0 0 0;
}


.article__item:has(+ .card) .article__text:last-of-type {
  margin-bottom: 0;
}

.quote-card {
  border-left: 1px solid #000000;
  padding-left: 33px;
}

.profile {
  display: flex;
  gap: 12px;
}

.profile p {
  margin: 0;
  width: fit-content;
}

.profile__name {
  font-size: 15px;
  line-height: 20px;
}
.profile__position {
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: 768px) { /* [T] */
  .article {
    margin: 3rem 0;
  }  
  .article__item {
    padding: 0 5rem;
    flex-direction: column;
  }

  .article p,
  .article h3 {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .article__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
  }  
  .article__text {
    font-weight: normal;
    line-height: 1.625rem;
  }

  .small-card {
    position: relative;
    padding: 0 0 0 2rem;
    width: 100%;
    max-width: 100%;
  }
  .small-card-just-link {
    padding-left: 2.75rem;
  }
  .small-card-just-link a {
    width: 60%;
  }
  .small-card__img {
    max-height: 100px;
    width: auto;
  }
  .small-card__link-wrapper {
    max-width: 55%;
  }
  .small-card__link-wrapper a {
    margin-top: 6px;
  }
  .small-card__link {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }

  .card {
    margin: 1.75rem 0;
  }
  .card__text-wrapper {
    padding: 0 5rem;
  }

  .card-wrapper {
    padding: 0 5rem;
  }
  .card-posts {
    width: 100%;
  }
  .card-posts_title {
    font-size: 19px;
    line-height: 28px;
  }

}

@media (max-width: 320px) { /* [M] */
  .article__item {
    padding: 0 1rem;
  }
  .card__text-wrapper {
    padding: 0 1rem;
  }
  .small-card {
    width: 100%;
    max-width: 10.563rem;
  }  
  .small-card-with-img {
    padding-top: 0;
  }
  .small-card__img {
    max-height: 88px;
  }
  .small-card__link-wrapper {
    max-width: 86%;
  }
  .small-card-just-link {
    padding-left: 2rem;
  }
  .small-card-just-link a {
    width: 100%;
  }

  .card-wrapper {
    padding: 0 1rem;
  }
  .card-posts__image-wrapper {
    display: none;
  }
  .card-posts__item:nth-last-child(-n+2) {
    display: none;
  } 
  .card-posts__inner {
    margin: 20px 16px 24px 16px; 
  }
  .title-arrow {
    display: none;
  }
}